# Common Python, tools and IDE artifacts
__pycache__/
.pytest_cache/
.mypy_cache
.ruff_cache
.idea/
.vscode/

# Common virtual environment and Jupyter notebook stuff
.ipynb_checkpoints/
.venv/

# Commonly ignored items
.env
logs/
/secrets/
*.pem

# Other handy artifacts "not" belonging to source repo
SUMMARY.md
